body {
  margin: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}
.nav-item-container {
  background-color: blue;
   margin:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo{
  width: 60px;
}
.nav-items{
  list-style: none;
  display: flex;
 
}
.nav-items li{
  margin: 10px;

}
.content-container{
  background-color: rgb(13, 221, 134);
  margin: 0;
}
.footer-container{
  background-color: gray;
}